.home_page__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: auto;
    padding: 10.4% 0;
}

.welcome__message{
    text-align: center;
    animation: slideDown 2s;
}

.button__logout {
    margin-top: 1rem;
    border: 0;
    width: 80%;
    margin: auto;
    border: 2px solid #DAAA9F;
    background-color: #DAAA9F;
    color: white;
    border-radius: 6px;
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    transition: 0.2s ease;
    cursor: pointer;
    animation: slideDown 3.5s;
}

.button__logout:hover {
    margin-top: 1rem;
    border: 0;
    width: 80%;
    margin: auto;
    border: 2px solid #DAAA9F;
    background-color: rgba(250,250,250,0.7);
    color: #DAAA9F;
    border-radius: 6px;
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    transition: 0.2s ease;
    cursor: pointer;
}


@keyframes slideDown {
    from {
        transform: translateX(-170px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}